{% extends "crud/base.html" %}
{% block title %}CRUD{% endblock %}
{% block content %}<h2>사용자 신규 작성</h2>
<form action="{{url_for('crud.create_user')}}" method="POST" novalidate="novalidate">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="{{url_for('crud.static',filename='날씨.mp4')}}" type="video/mp4" />
        </video>
    </div>
    {{form.csrf_token}}
    <p>
        {{form.days.label}}{{form.days(placeholer="날짜")}}
    </p>
    
    {% for error in form.days.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor%}
    
    <p>
        {{form.amWeather.label}}{{form.amWeather(placeholer="오전 날씨")}}
    </p>
    {% for error in form.amWeather.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <p>
        {{form.pmWeather.label}}{{form.pmWeather(placeholer="오후 날씨")}}
    </p>
    {% for error in form.pmWeather.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <p>
        {{form.temmin.label}}{{form.temmin(placeholer="최저 기온")}}
    </p>
    {% for error in form.temmin.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <p>
        {{form.temmax.label}}{{form.temmax(placeholer="최고 기온")}}
    </p>
    {% for error in form.temmax.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    
    
    <p>{{form.submit()}}</p>
    </form>
    
{% endblock %}